version: "3.8"

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.backend
    container_name: app-backend
    ports:
      - "8080:8080"
    depends_on:
      - db
    environment:
      - SPRING_DATASOURCE_URL=jdbc:mysql://db:3306/bloodbank
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=root
    restart: always
    networks:
      - app_network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.frontend
    container_name: app-frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend
    restart: always
    networks:
      - app_network

  db:
    image: mysql:8.0
    container_name: app-db
    environment:
      - MYSQL_DATABASE=bloodbank
      - MYSQL_ROOT_PASSWORD=root
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    restart: always
    networks:
      - app_network

volumes:
  db_data:

networks:
  app_network:
    driver: bridge
